<!DOCTYPE html>
<html>
  <head>
    <title>Y&L Store </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body <%= controller_name %> <%= action_name %>  >
    
    
  <div class="w3-top">  
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
   
  <%= link_to " Yara & lara " ,root_path(),class:'w3-bar-item w3-button w3-wide'%>
   
    <div style="float:right">
    <%=link_to " Menu ",root_path(), class:'w3-bar-item w3-button'%>
    <%if(user_signed_in?)%>
    <%= link_to "Sign Out",destroy_user_session_path, method: :delete,class:'w3-bar-item w3-button'%>
    <%else%>
   <%= link_to " log in ",new_user_session_path,method: :create ,class:'w3-bar-item w3-button'%>
    <%end%>
   </div>
    
   
     <p class="notice s"><%= notice %></p>
    <p class="alert s"><%= alert %></p> 
     
    
    </div>
    
    </div>
    </div>
    

    <%= yield %>
   
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  
  </body>
</html>